<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418752679971-1lthoqnnu57h9e1eqoa8gr3je4uufnnu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418752679971-1lthoqnnu57h9e1eqoa8gr3je4uufnnu</string>
	<key>API_KEY</key>
	<string>AIzaSyDuwqlleo5q1X_Jhj_GnFpgpnTBLYkF9Xc</string>
	<key>GCM_SENDER_ID</key>
	<string>418752679971</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Apps-Horizon.Shake-n-Cook</string>
	<key>PROJECT_ID</key>
	<string>shakencook-389b2</string>
	<key>STORAGE_BUCKET</key>
	<string>shakencook-389b2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418752679971:ios:9bbb90169c301312d22196</string>
</dict>
</plist>